<h1>
  Agregar Heroe
  <small>XYZ</small>
</h1>

<div fxLayout="row" fxLayoutGap="40px" fxLayout.xs="column">

  <div fxFlex="50" fxLayout="column">

    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px">

      <mat-form-field fxFlex="100" fxLayout.xs="column">
        <mat-label>Super Héroe</mat-label>
        <input matInput type="text" [(ngModel)]="heroe.superhero" required>
      </mat-form-field>

      <mat-form-field fxFlex="100">
        <mat-label>Alter Ego</mat-label>
        <input matInput type="text" [(ngModel)]="heroe.alter_ego" required>
      </mat-form-field>

    </div>

    <mat-form-field>
      <mat-label>Primera Aparición</mat-label>
      <input matInput type="text" [(ngModel)]="heroe.first_appearance" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Personajes</mat-label>
      <input matInput type="text" [(ngModel)]="heroe.characters" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Creador</mat-label>
      <mat-select [(ngModel)]="heroe.publisher" required>
        <mat-option *ngFor="let item of listaCreadores" [value]="item.id">
          {{ item.desc }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Foto Url</mat-label>
      <input matInput type="url" [(ngModel)]="heroe.alt_img" required (change)="detectarCambio($event)">
    </mat-form-field>

    <br>

    <div fxLayout>

      <button *ngIf="heroe.id"
              mat-raised-button
              color="warn"
              (click)="borrarHeroe()">
        <mat-icon>remove</mat-icon>
        Borrar
      </button>

      <span style="flex: 1 1 auto"></span>

      <button mat-raised-button color="primary" (click)="guardar()">
        <mat-icon>edit</mat-icon>
        Agregar
      </button>

    </div>

  </div>
<div fxFlex=50 style="display: flex; align-items: center; justify-content: center;">
   <img [src]="heroe.id | image:heroe.alt_img">
  </div>

</div>
