<p>error-page works!</p>

<ul>
  <li>
    <a routerLink="/auth/login">Ir al login</a>
  </li>

  <li>
    <a routerLink="/auth/register">Ir al registro</a>
  </li>

  <li>
    <a routerLink="/hero/listado-heroe">Ir al listado heroes</a>
  </li>

  <li>
    <a routerLink="/hero/agregar-heroe">Ir a agregar heroes</a>
  </li>

  <li>
    <a routerLink="/hero/editar-heroe/1">Ir a editar heroes</a>
  </li>

  <li>
    <a routerLink="/hero/buscar-heroe">Ir a buscar heroe</a>
  </li>

  <li>
    <a routerLink="/hero/1">Ir a ver heroe</a>
  </li>
</ul>
